body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    background-color: #f4f6f8;
    color: #2c3e50;
}

aside {
    width: 220px;
    background-color: #2c3e50;
    padding: 20px;
    height: 100vh;
    box-shadow: 2px 0 5px rgb(255, 255, 255);
}

.bienvenida { /* Color de fondo */
    color: #ffffff; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    margin-bottom: 15px; /* Espaciado inferior */
}

.bienvenida p {
    margin: 5px 0; /* Espaciado entre los párrafos */
}

aside a {
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    color: #ecf0f1;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s ease;
}

aside a:hover {
    background-color: #34495e;
}

aside a:last-child {
    color: #e74c3c;
}

main {
    padding: 30px;
    flex: 1;
    background-color: #fff;
}

button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.btn-desactivar {
    background-color: #e74c3c;
    color: #fff;
}

.btn-editar {
    background-color: #2980b9;
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

th {
    background-color: #2980b9;
    color: white;
    padding: 12px;
    text-align: left;
}

td {
    padding: 10px;
    border-top: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
}
